body {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

.btn {
	padding-top: .75em;
	padding-bottom: .75em;
	padding-left: 0;
	padding-right: 0;
}

#btnPlay, .btn-group-flex {
	margin-bottom: 1em;
}

.btn-group-flex {
	display: flex;
}

.btn-group-flex .btn {
    flex-grow: 1;
}

.btn-group-flex .btn:not(:first-child) {
    border-left: none !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group-flex .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fade {
    opacity: 1;
}

.score {
    margin-bottom: 1em;
    margin-top: 1em;
}