{% extends "base.html"
{% block title %}{{ game_mode.name }}{% endblock %}
{% load static %}
{% block content %}
<main class="container">
    <header class="text-md-center">
        <h1 class="p-t-1">{{ game_mode.name }}</h1>
    </header>
    <hr>
    <section class="row d-flex justify-content-center">
        <div class="col-sm-6 col-md-offset-2">
            <div class="btn-group-flex m-b-1" role="group" aria-label="Player Choice Buttons" id="chooseBtns">
                {% for action in actions %}
                     <button type="button" class="btn btn-secondary btn-choice" id="btn{{ action.name }}" data-action="{{ action.code }}">{{ action.name }}</button>
                {% endfor %}
            </div>
            <div class="card" id="playerCard1">
                <img class="card-img-top img-fluid p-a-1"
                     src="{% static 'images/question_mark.png' %}"
                     alt="Card image cap" id="playerChoiceImg">
                <div class="card-footer text-muted">
                    <strong>Your Choice: </strong><span id="playerChoiceText"></span>
                </div>
            </div>
            <div class="alert alert-info score" role="alert" id="playerScore"><strong>Your Score! </strong><span
                    class="m-l-1"></span></div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-block btn-secondary m-b-1" id="btnPlay">Play</button>
            <div class="card" id="playerCard2">
                <img class="card-img-top img-fluid p-a-1"
                     src="{% static 'images/question_mark.png' %}"
                     alt="Card image cap" id="pcChoiceImg">
                <div class="card-footer text-muted">
                    <strong>PC Choice: </strong><span id="pcChoiceText"></span>
                </div>
            </div>
            <div class="alert alert-info score" role="alert" id="pcScore"><strong>Pc Score! </strong><span
                    class="m-l-1"></span></div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-md-12">
            <button type="button" class="btn btn-lg btn-block btn-secondary m-b-1" id="startOver">Start Over</button>
        </div>
    </section>
</main>

<div class="modal fade" role="dialog" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Round result!</h1>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertResult">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-secondary" data-bs-dismiss="modal" id="nextRound">Next
                    round
                </button>
            </div>
        </div>
    </div>
</div>

<script type="javascript">
    window.gameMode = {{ game_mode }};
</script>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}