{% extends "base.html" %}
{% block title %}Rock Paper Scissors{% endblock %}
{% load static %}
{% block content %}
<main class="container">
    <header class="text-md-center">
        <h1 class="p-t-1">Choose your game mode</h1>
    </header>
    <hr>
    <section>
        <div class="container py-3">
            {% for game_mode in game_modes %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-11">
                        <div class="card-body">
                            <h5 class="card-title">{{ game_mode.name }}</h5>
                            <p class="card-text">
                            <p class="card-text">Rules:</p>
                            <ul>
                                {% with game_mode.description|split:"-" as lines %}
                                {% for line in lines %}
                                <li class="rule">{{ line }}</li>
                                {% endfor %}
                                {% endwith %}
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <a href="{% url 'frontend:game' game_mode.code %}" class="btn btn-secondary btn-block btnStartGame"
                           style="height: 100%; align-items: center; display: flex; justify-content: center;">Play</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}